shamefully-hoist=true
strict-peer-dependencies=false
package-manager-strict=false
package-manager-strict-projects=false
manage-package-manager-versions=false
onlyBuiltDependencies[]=*
onlyBuiltDependencies[]=@biomejs/biome
onlyBuiltDependencies[]=esbuild
